<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="*">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript" src="https://g.alicdn.com/mtb/??lib-flexible/0.3.2/flexible_css.js,lib-flexible/0.3.2/flexible.js"></script>
		<title>品牌团列表</title>
		<link rel="stylesheet" type="text/css" href="css/pinpait_list.css" />
		<script src="js/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/artTemplate.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		var productVersion = '';
		var mobilePage = '';
		var userId = '';
		</script>

		<script src="js/pinpait_list.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="container" id="container">
			<ul class="header-tap fs12">
				<li data-cid="0" class="selected">全部</li>
				<li data-cid="100">女装</li>
				<li data-cid="110">男装</li>
				<li data-cid="120">内衣</li>
				<li data-cid="130">美妆</li>
				<li data-cid="140">居家</li>
				<li data-cid="150">母婴童装</li>
				<li data-cid="160">食品</li>
				<li data-cid="170">鞋包配饰</li>
				<li data-cid="180">数码电器</li>
				<li data-cid="190">文体户外</li>
				<li data-cid="1">最后疯抢</li>
			</ul>
			<!--品牌团列表-->
			<ul class="brand-list">
				<li data-pid="35851">
					<div class="brand-banner">
						<img class="J-lazd" src="https://img.alicdn.com/imgextra/i1/2296013456/TB2fJZzlC8mpuFjSZFMXXaxpVXa_!!2296013456.jpg_310x310.jpg" data-src="https://img.alicdn.com/imgextra/i4/2275267233/TB2WhSohYJmpuFjSZFwXXaE4VXa_!!2275267233.jpg_400x400.jpg" />
						<div class="brand-info">

							<span class="new-taday fs10">今日上新</span>

							<p class="brand-title fs12">maxicare</p>
							<p class="show-str fs11">麦考林品牌直销</p>

							<p class="fanli fs12">最高返69.3%</p>

						</div>
					</div>
					<div class="goods-list">
						<ul>
							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="http://img3.tbcdn.cn/tfscom/i6/TB1etZjOFXXXXbDaXXXwMfPFFXX_094553.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">羊乳维D钙片买一送一</p>

								<p class="price fs12">
									<span class="fs11">到手价</span>￥29.58
								</p>
							</li>
							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="http://img3.tbcdn.cn/tfscom/i3/TB1wUI2PXXXXXaCXXXX.RW6FpXX_091239.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">维您B族维生素90片</p>

								<p class="price fs12">
									<span class="fs11">到手价</span>￥20.88
								</p>
							</li>
							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="https://img.alicdn.com/bao/uploaded/i3/TB1zNXlMpXXXXcuXpXXXXXXXXXX_!!0-item_pic.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">维您鱼胶原蛋白粉领券减</p>

								<p class="price fs12">
									<span class="fs11">到手价</span>￥34.68
								</p>
							</li>
						</ul>
					</div>
				</li>

				<li data-pid="35850">
					<div class="brand-banner">
						<img class="J-lazd" src="https://img.alicdn.com/imgextra/i1/2296013456/TB2fJZzlC8mpuFjSZFMXXaxpVXa_!!2296013456.jpg_310x310.jpg" data-src="https://img.alicdn.com/imgextra/i2/2275267233/TB2i_EskmFjpuFjSszhXXaBuVXa_!!2275267233.jpg_400x400.jpg" />
						<div class="brand-info">

							<span class="new-taday fs10">今日上新</span>

							<p class="brand-title fs12">laudiasf</p>
							<p class="show-str fs11">想要别致的时尚</p>

							<p class="fanli fs12">最高返46.2%</p>

						</div>
					</div>
					<div class="goods-list">
						<ul>

							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="https://img.alicdn.com/imgextra/i3/2275267233/TB2pGS4miRnpuFjSZFCXXX2DXXa_!!2275267233.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">蕾丝袖修身连衣裙</p>

								<p class="price fs12">
									<span class="fs11">到手价</span>￥181.84
								</p>

							</li>

							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="https://img.alicdn.com/imgextra/i1/2315241643/TB2cXolkm0jpuFjy0FlXXc0bpXa_!!2315241643.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">天鹅刺绣连衣裙</p>

								<p class="price fs12">
									<span class="fs11">到手价</span>￥181.84
								</p>

							</li>

							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="https://img.alicdn.com/imgextra/i3/2275267233/TB2o0vFgOC9MuFjSZFoXXbUzFXa_!!2275267233.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">小V领短袖连衣裙</p>

								<p class="price fs12">
									<span class="fs11">到手价</span>￥235.42
								</p>

							</li>

						</ul>
					</div>
				</li>

				<li data-pid="35847">
					<div class="brand-banner">
						<img class="J-lazd" src="https://img.alicdn.com/imgextra/i1/2296013456/TB2fJZzlC8mpuFjSZFMXXaxpVXa_!!2296013456.jpg_310x310.jpg" data-src="https://img.alicdn.com/imgextra/i2/759370583/TB2FWJEeCJjpuFjy0FdXXXmoFXa_!!759370583.jpg_400x400.jpg" />
						<div class="brand-info">

							<span class="new-taday fs10">今日上新</span>

							<p class="brand-title fs12">南极人</p>
							<p class="show-str fs11">南极人男装品牌</p>

							<div class="coupon fs11">

								<span>满69减20</span>

								<span>满99减40</span>

							</div>

						</div>
					</div>
					<div class="goods-list">
						<ul>

							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="https://img.alicdn.com/bao/uploaded/i4/TB1oP4nQpXXXXXFXVXXXXXXXXXX_!!0-item_pic.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">南极人t恤买一送一【多色选】</p>

								<p class="price fs12">
									<img class="coupon-after" src="https://img.alicdn.com/imgextra/i3/2296013456/TB2rnSCjHXlpuFjy1zbXXb_qpXa_!!2296013456.png_60x60.jpg" />￥49.0
								</p>

							</li>

							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="http://img2.tbcdn.cn/tfscom/i1/614453539/TB2BMHRiYRkpuFjSspmXXc.9XXa_!!614453539.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">买一送一【多色选】</p>

								<p class="price fs12">
									<img class="coupon-after" src="https://img.alicdn.com/imgextra/i3/2296013456/TB2rnSCjHXlpuFjy1zbXXb_qpXa_!!2296013456.png_60x60.jpg" />￥49.0
								</p>

							</li>

							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="http://img3.tbcdn.cn/tfscom/i2/614453539/TB2bIoHjt0opuFjSZFxXXaDNVXa_!!614453539.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">买一送一【多色选】</p>

								<p class="price fs12">
									<img class="coupon-after" src="https://img.alicdn.com/imgextra/i3/2296013456/TB2rnSCjHXlpuFjy1zbXXb_qpXa_!!2296013456.png_60x60.jpg" />￥49.0
								</p>

							</li>

						</ul>
					</div>
				</li>

				<li data-pid="35846">
					<div class="brand-banner">
						<img class="J-lazd" src="https://img.alicdn.com/imgextra/i1/2296013456/TB2fJZzlC8mpuFjSZFMXXaxpVXa_!!2296013456.jpg_310x310.jpg" data-src="https://img.alicdn.com/imgextra/i2/439662048/TB2mrh8l0FopuFjSZFHXXbSlXXa_!!439662048.jpg_400x400.jpg" />
						<div class="brand-info">

							<span class="new-taday fs10">今日上新</span>

							<p class="brand-title fs12">fhawk运动</p>
							<p class="show-str fs11">享瘦健身之乐</p>

							<p class="fanli fs12">最高返53.9%</p>

						</div>
					</div>
					<div class="goods-list">
						<ul>

							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="https://img.alicdn.com/imgextra/i2/439662048/TB2g0SdlYlmpuFjSZFlXXbdQXXa_!!439662048.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">可拆卸瘦身呼啦圈</p>

								<p class="price fs12">
									<span class="fs11">到手价</span>￥8.30
								</p>

							</li>

							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="http://img3.tbcdn.cn/tfscom/i2/869752424/TB2sEgIpVXXXXXyXFXXXXXXXXXX_!!869752424.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">放松肌肉按摩棒</p>

								<p class="price fs12">
									<span class="fs11">到手价</span>￥26.43
								</p>

							</li>

							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="http://img3.tbcdn.cn/tfscom/i3/869752424/TB2CWf4lstnpuFjSZFKXXalFFXa_!!869752424.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">TRX悬挂式训练带</p>

								<p class="price fs12">
									<span class="fs11">到手价</span>￥101.93
								</p>

							</li>

						</ul>
					</div>
				</li>

				<li data-pid="35845">
					<div class="brand-banner">
						<img class="J-lazd" src="https://img.alicdn.com/imgextra/i1/2296013456/TB2fJZzlC8mpuFjSZFMXXaxpVXa_!!2296013456.jpg_310x310.jpg" data-src="https://img.alicdn.com/imgextra/i4/759370583/TB2dlx8l.dnpuFjSZPhXXbChpXa_!!759370583.jpg_400x400.jpg" />
						<div class="brand-info">

							<span class="new-taday fs10">今日上新</span>

							<p class="brand-title fs12">AOC</p>
							<p class="show-str fs11">高清炫彩画面</p>

							<p class="fanli fs12">最高返11.55%</p>

						</div>
					</div>
					<div class="goods-list">
						<ul>

							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="https://img.alicdn.com/imgextra/i4/1900441979/TB299EybgxlpuFjy0FoXXa.lXXa_!!1900441979.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">AOC24寸曲面显示器1800R</p>

								<p class="price fs12">
									<span class="fs11">到手价</span>￥883.62
								</p>

							</li>

							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="https://img.alicdn.com/imgextra/i3/1900441979/TB2EcOCegSI.eBjy1XcXXc1jXXa_!!1900441979.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">AOC23寸无边框显示器</p>

								<p class="price fs12">
									<span class="fs11">到手价</span>￥801.46
								</p>

							</li>

							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="http://img3.tbcdn.cn/tfscom/i4/1900441979/TB2OLjJlEhnpuFjSZFpXXcpuXXa_!!1900441979.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">AOC32英寸曲面大屏显示器</p>

								<p class="price fs12">
									<span class="fs11">到手价</span>￥1509.46
								</p>

							</li>

						</ul>
					</div>
				</li>

				<li data-pid="35844">
					<div class="brand-banner">
						<img class="J-lazd" src="https://img.alicdn.com/imgextra/i1/2296013456/TB2fJZzlC8mpuFjSZFMXXaxpVXa_!!2296013456.jpg_310x310.jpg" data-src="https://img.alicdn.com/imgextra/i3/439662048/TB2jrDuj4XlpuFjSsphXXbJOXXa_!!439662048.jpg_400x400.jpg" />
						<div class="brand-info">

							<span class="new-taday fs10">今日上新</span>

							<p class="brand-title fs12">klinsmann迈克</p>
							<p class="show-str fs11">您身边的除尘专家</p>

							<p class="fanli fs12">最高返32.8%</p>

						</div>
					</div>
					<div class="goods-list">
						<ul>

							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="https://img.alicdn.com/imgextra/i2/1807556740/TB2dUBRrVXXXXahXpXXXXXXXXXX_!!1807556740.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">克林扫吸拖一体机领券</p>

								<p class="price fs12">
									<span class="fs11">到手价</span>￥234.53
								</p>

							</li>

							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="https://img.alicdn.com/imgextra/i2/2828809528/TB2iRiRg80kpuFjSsziXXa.oVXa_!!2828809528.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">克林斯曼智能扫地机器人</p>

								<p class="price fs12">
									<span class="fs11">到手价</span>￥551.42
								</p>

							</li>

							<li>
								<p class="goods-img">
									<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="https://img.alicdn.com/imgextra/i1/2828809528/TB2WWIDnVXXXXX8XFXXXXXXXXXX_!!2828809528.jpg_300x300.jpg" />
								</p>
								<p class="goods-title fs11">克林斯曼智能扫地机器人</p>

								<p class="price fs12">
									<span class="fs11">到手价</span>￥515.14
								</p>

							</li>

						</ul>
					</div>
				</li>

			</ul>
		</div>
		<div class="top hide"><img src="https://img.alicdn.com/imgextra/i3/2296013456/TB2UejcjHBkpuFjy1zkXXbSpFXa_!!2296013456.png">
		</div>
		<p class="footer-loading"><img src="https://img.alicdn.com/imgextra/i4/2296013456/TB2k_HsjKJ8puFjy1XbXXagqVXa_!!2296013456.gif" />
		</p>
		<div class="tab-loading hide"><img src="https://img.alicdn.com/imgextra/i2/2296013456/TB2qMI.lC0mpuFjSZPiXXbssVXa_!!2296013456.png" />
		</div>
		<div class="footer_end hide">
			<a href="javascript:void(0);"></a>
		</div>

		<!--//品牌团列表-->
		<script type="text/html" id="brandListTemplate">
			{{each pinpaitList as ppt}}
			<li data-pid="{{ppt.pinpaitId}}">
				<div class="brand-banner">
					<img class="J-lazd" src="https://img.alicdn.com/imgextra/i1/2296013456/TB2fJZzlC8mpuFjSZFMXXaxpVXa_!!2296013456.jpg_310x310.jpg" data-src="{{if ppt.banner}}{{ppt.banner}}_400x400.jpg{{/if}}" />
					<div class="brand-info">
						{{if ppt.tag}}<span class="new-taday fs10">{{ppt.tag}}</span>{{/if}}
						<p class="brand-title fs12">{{ppt.title}}</p>
						<p class="show-str fs11">{{ppt.desc}}</p>
						{{if ppt.fullCut != '1'}}
						<p class="fanli fs12">最高返{{ppt.upRate}}</p>
						{{/if}} {{if ppt.fullCut == '1'}}
						<div class="coupon fs11">
							{{each ppt.juanStrList as juanStr}}<span>{{juanStr}}</span>{{/each}}
						</div>
						{{/if}}
					</div>
				</div>
				{{if ppt.itemList}}
				<div class="goods-list">
					<ul>
						{{each ppt.itemList as item}}
						<li>
							<p class="goods-img">
								<img class="J-lazd" src="https://img.alicdn.com/imgextra/i4/169328611/TB27FHbepXXXXX3XpXXXXXXXXXX_!!169328611.png" data-src="{{if item.image}}{{item.image}}_300x300.jpg{{/if}}" />
							</p>
							<p class="goods-title fs11">{{item.title}}</p>
							<p class="price fs12">
								{{if ppt.fullCut == '1'}}
								<img class="coupon-after" src="https://img.alicdn.com/imgextra/i3/2296013456/TB2rnSCjHXlpuFjy1zbXXb_qpXa_!!2296013456.png_60x60.jpg" />￥{{item.afterJuanPrice}} {{/if}} {{if ppt.fullCut != '1'}}
								<span class="fs11">到手价</span>￥{{item.handPrice}} {{/if}}
							</p>
						</li>
						{{/each}}
					</ul>
				</div>
				{{/if}}
			</li>
			{{/each}}
		</script>

	</body>

</html>